<!--<div class="top">-->
    <!--<div class="avatar">-->
        <!--<img width="50" height="50" src="../../dist/img/icon-user.png">-->
    <!--</div>-->
    <!--<div class="info">-->
        <!--<div class="name">Khách hàng</div>-->
        <!--<div class="count">{{nameshow}}</div>-->
    <!--</div>-->
    <!--<i class="fa fa-star"></i>-->
<!--</div>-->
<!--<ul class="messages">-->

<!--</ul>-->
<!--<div class="write-form">-->
    <!--<textarea placeholder="Type your message" name="e" id="texxt"  rows="2" class="chat-textarea"></textarea>-->
    <!--<i class="fa fa-picture-o"></i>-->
    <!--<i class="fa fa-file-o"></i>-->
    <!--<span class="send send-raw">Send</span>-->
<!--</div>-->

<div class="box-body">
    <div class="direct-chat-messages" style="height: 450px;">

    </div>
</div>
<div class="box-footer box-footer-content">
    <div class="input-group">
        <div class="input-group-btn"><button class="btn btn-deafult btn-flat"><i class="fa fa-question-circle"></i></button></div>
        <div class="input-group-btn"><button class="btn btn-deafult btn-flat" onclick="showModal('task-add/normals')"><i class="fa fa-list"></i></button></div>
        <div class="input-group-btn"><button class="btn btn-deafult btn-flat forward-chat"><i class="fa fa-user"></i></button></div>
        <textarea class="form-control chat-textarea" placeholder="Gửi tin nhắn...." rows="1" id="input-message"></textarea>
        <div class="input-group-btn"><button class="btn btn-primary btn-flat send-raw">Gửi</button></div>
    </div>
</div>