<div class="top">
    <div class="avatar">
        <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
    </div>
    <div class="info">
        <div class="name">Khách hàng</div>
        <div class="count">{{id}}</div>
    </div>
    <i class="fa fa-star"></i>
</div>
<ul class="messages">

</ul>
<div class="write-form">
    <textarea placeholder="Type your message" name="e" id="texxt"  rows="2" class="chat-textarea"></textarea>
    <i class="fa fa-picture-o"></i>
    <i class="fa fa-file-o"></i>
    <span class="send">Send</span>
</div>