<!--<li class="friend-with-a-SVAGina chat-message {{extra_classes}}" data-isodate="{{isodate}}" data-msgid="{{msgid}}">-->
    <!--<div class="head">-->
        <!--&lt;!&ndash;<span class="time">10:14 AM, Today</span>&ndash;&gt;-->
        <!--<span class="name chat-msg-author chat-msg-{{sender}}">{{username}}:&nbsp;</span>-->
    <!--</div>-->
    <!--<div class="message chat-msg-content">{{message}}</div>-->
<!--</li>-->
<div class="direct-chat-msg chat-message {{extra_classes}}" data-isodate="{{isodate}}" data-msgid="{{msgid}}" data-timesend="{{timesendorg}}">
    <div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left chat-msg-{{sender}}">{{username}}</span><span class="direct-chat-timestamp pull-right">{{time}}</span></div>
    <img src="../../dist/img/icon-user.png" alt="Message User Image" class="direct-chat-img">
    <div class="direct-chat-text chat-msg-content" onclick="customer_chat.searchFaq(this)"></div>
</div>