<!-- /.search form-->
<ul class="nav nav-pills nav-justified">
    <li class=""><a data-toggle="tab" href="#chat_list" aria-expanded="false" id="mideas-list-contact">Danh sách</a></li>
    <li class="active"><a data-toggle="tab" href="#chat_request" aria-expanded="true" id="mideas-list-request">Yêu cầu<span class="pull-right text-red mideas-list-request-count" style="font-size: 15px">0</span></a></li>
</ul>
<div class="tab-content-contact" style="padding: 10px; color: white">
    <!--<div class="tab-content tab-child-content-contact">-->
        <!--<div class="tab-pane" id="chat_list">-->
            <!--<p><i class="fa fa-circle text-green"></i> Hải<span class="pull-right text-red">8</span></p>-->
            <!--<p><i class="fa fa-circle text-green"></i> Dũng<span class="pull-right text-red">8</span></p>-->
            <!--<p><i class="fa fa-circle text-muted"></i> Huỳnh<span class="pull-right text-red"></span></p>-->
        <!--</div>-->
        <!--<div class="tab-pane active" id="chat_request">-->
            <!--<p><span>Ngọc</span><i class="fa fa-sign-out pull-right"></i></p>-->
            <!--<p><span>Hoa</span><i class="fa fa-sign-out pull-right"></i></p>-->
            <!--<p><span>Lan</span><i class="fa fa-sign-out pull-right"></i></p>-->
        <!--</div>-->
    <!--</div>-->
</div>